= form_tag user_twitter_omniauth_authorize_path(), class: 'simple_form' do |f|
  .actions
    %button.btn
      = image_tag('Twitter_Social_Icon_Square_Transparent.png', style:"width: 50px;")
      %div{ style: "display:inline-block; padding: 10px; vertical-align:top;"}
        Twitterでログイン
